* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-header, .modal-footer {
    display: block
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
  
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
  
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.form-control:hover {  
    box-shadow: 3px 3px 0px transparent;
}

.navbar {
    /* border: 1px solid black; */
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 10px;
}

.logo {
    font-family: 'Lalezar', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    justify-self: center;
}

.logo:hover {
    cursor: pointer;
}

.weather-sign {
    display: flex;
}

.weather {
    height: max-content;
    display: flex;
    align-items: center;
}

#date {
    margin: 0;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin: auto 10px;
}

.nav-list li:hover {
    cursor: pointer;
}

.welcome {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome p {
    font-size: 2rem;
}

.welcome-img {
    width: 750px;
}

.sign-container{
    background-color: rgb(63, 61, 86);
    width: 350px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 15%;
    border-radius: 0 0 0 10px;
}

.sign-container form label{
    color: #ffffff;
}

.sign-form {
    display: flex;
    flex-direction: column;
}

.sign-form input{
    margin-bottom: 10px;
}

.signIn-register {
    display: flex;
    align-items: center;
}

.signIn-register p{
    margin: 0 0 0 30px;
    color: #ffffff;
}

.signIn-register p:hover{
    cursor: pointer;
    color: #d4d4d4;
}

.g-signin2 {
    align-self: center;
}

.nav-gSignOut {
    font-style: none;
    color: rgb(19, 19, 19);
}

.nav-gSignOut:hover {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.add-booking {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-booking {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.form-booking input{
    width: 100%;
}